# # im cmd terminal nach dem Starten eingeben:
#C:\\ProgramData\\anaconda3\\Scripts\\activate.bat C:\\ProgramData\\anaconda3
#anaconda: conda activate chatenv
# pip install -r requirements.txt
#python==3.11.10
openai 
pandas 
numpy 
python-dotenv
streamlit